zsh/MY_DEVICE


# Mac OS X
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
node_modules

# Windows
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Rails
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key


# Emacs
*~
